# Ciência dos Dados 2020 - Projeto 2
___
- Giovanni Rozatti
- Larissa Oliveira da Silva
___

### Ajustando data frame

In [39]:
%matplotlib notebook
%reset -f


import pandas as pd
import numpy as np
from scipy.stats import norm, probplot
import statsmodels.api as sm
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D

In [49]:
Dados=pd.read_csv('cars_Brazil_data.csv')

Mais_de_500 = Dados['nome'].value_counts() > 500
Mais_de_500 = list(Mais_de_500.loc[Mais_de_500].index)
Dados = Dados.loc[Dados['nome'].isin(Mais_de_500),:];

#Converte as variáveis quali em quanti
Dummies = pd.get_dummies(Dados.drop(columns='nome'), prefix=['marca', 'categoria','loc'])

In [50]:
### Função utilitária para fazer a regressão com constante adicionada
def regress(X,Y):
    '''
    X: coluna(s) do DataFrame que serão utilizadas como variável(is) preditoras/explicativas (independente(s))
    Y: coluna do DataFrame que será utilizada como variável resposta (dependente)
    '''
    X_cp = sm.add_constant(X)
    model = sm.OLS(Y,X_cp)
    results = model.fit()
    return results

In [51]:
Dummies.columns

Index(['valor', 'ano', 'km_rodados', 'marca_CHEVROLET', 'marca_CITROEN',
       'marca_FIAT', 'marca_FORD', 'marca_HONDA', 'marca_HYUNDAI',
       'marca_JEEP', 'marca_NISSAN', 'marca_RENAULT', 'marca_TOYOTA',
       'marca_VOLKSWAGEN', 'categoria_COUPE', 'categoria_Conversível',
       'categoria_Custom', 'categoria_Esportivo', 'categoria_Hatch',
       'categoria_Mini Van', 'categoria_Picape', 'categoria_Raridade',
       'categoria_SUV', 'categoria_Sedan', 'categoria_Utilitário',
       'categoria_Van', 'categoria_Wagon/Perua', 'loc_AL', 'loc_AM', 'loc_BA',
       'loc_CE', 'loc_DF', 'loc_ES', 'loc_GO', 'loc_MA', 'loc_MG', 'loc_MS',
       'loc_MT', 'loc_PA', 'loc_PB', 'loc_PE', 'loc_PI', 'loc_PR', 'loc_RJ',
       'loc_RN', 'loc_RO', 'loc_RS', 'loc_SC', 'loc_SE', 'loc_SP', 'loc_TO'],
      dtype='object')

In [54]:
df = Dummies[['valor', 'ano', 'km_rodados', 'marca_CHEVROLET', 'marca_CITROEN',
       'marca_FIAT', 'marca_FORD', 'marca_HONDA', 'marca_HYUNDAI',
       'marca_JEEP', 'marca_NISSAN', 'marca_RENAULT', 'marca_TOYOTA',
       'marca_VOLKSWAGEN', 'categoria_COUPE', 'categoria_Conversível',
       'categoria_Custom', 'categoria_Esportivo', 'categoria_Hatch',
       'categoria_Mini Van', 'categoria_Picape', 'categoria_Raridade',
       'categoria_SUV', 'categoria_Sedan', 'categoria_Utilitário',
       'categoria_Van', 'categoria_Wagon/Perua', 'loc_AL', 'loc_AM', 'loc_BA',
       'loc_CE', 'loc_DF', 'loc_ES', 'loc_GO', 'loc_MA', 'loc_MG', 'loc_MS',
       'loc_MT', 'loc_PA', 'loc_PB', 'loc_PE', 'loc_PI', 'loc_PR', 'loc_RJ',
       'loc_RN', 'loc_RO', 'loc_RS', 'loc_SC', 'loc_SE', 'loc_SP', 'loc_TO']]

In [55]:
df.describe()

,valor,ano,km_rodados,marca_CHEVROLET,marca_CITROEN,marca_FIAT,marca_FORD,marca_HONDA,marca_HYUNDAI,marca_JEEP,...,loc_PI,loc_PR,loc_RJ,loc_RN,loc_RO,loc_RS,loc_SC,loc_SE,loc_SP,loc_TO
count,30637.000000,30637.000000,30537.000000,30637.000000,30637.000000,30637.000000,30637.000000,30637.000000,30637.000000,30637.000000,...,30637.000000,30637.000000,30637.000000,30637.000000,30637.000000,30637.000000,30637.000000,30637.000000,30637.000000,30637.000000
mean,45008.017104,2015.236152,58509.811114,0.183047,0.023240,0.113849,0.183765,0.054411,0.086431,0.050756,...,0.000326,0.054477,0.044521,0.003721,0.001338,0.024154,0.024545,0.000914,0.681072,0.002481
std,21484.692956,3.704407,48210.134017,0.386711,0.150667,0.317633,0.387299,0.226831,0.281005,0.219502,...,0.018064,0.226959,0.206254,0.060887,0.036558,0.153529,0.154738,0.030218,0.466069,0.049745
min,5000.000000,1982.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,33000.000000,2013.000000,29701.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,39900.000000,2016.000000,46000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
75%,51890.000000,2018.000000,83000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
max,225000.000000,2020.000000,500000.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [56]:
np.sum(df.isnull())

valor                      0
ano                        0
km_rodados               100
marca_CHEVROLET            0
marca_CITROEN              0
marca_FIAT                 0
marca_FORD                 0
marca_HONDA                0
marca_HYUNDAI              0
marca_JEEP                 0
marca_NISSAN               0
marca_RENAULT              0
marca_TOYOTA               0
marca_VOLKSWAGEN           0
categoria_COUPE            0
categoria_Conversível      0
categoria_Custom           0
categoria_Esportivo        0
categoria_Hatch            0
categoria_Mini Van         0
categoria_Picape           0
categoria_Raridade         0
categoria_SUV              0
categoria_Sedan            0
categoria_Utilitário       0
categoria_Van              0
categoria_Wagon/Perua      0
loc_AL                     0
loc_AM                     0
loc_BA                     0
loc_CE                     0
loc_DF                     0
loc_ES                     0
loc_GO                     0
loc_MA                     0
loc_MG                     0
loc_MS                     0
loc_MT                     0
loc_PA                     0
loc_PB                     0
loc_PE                     0
loc_PI                     0
loc_PR                     0
loc_RJ                     0
loc_RN                     0
loc_RO                     0
loc_RS                     0
loc_SC                     0
loc_SE                     0
loc_SP                     0
loc_TO                     0
dtype: int64

In [71]:
df2 = df.dropna(subset=['km_rodados'])

np.sum(df2.isnull())

df = df.dropna(subset=['km_rodados'])

### Ajustando modelo

In [72]:
X = df[['ano','km_rodados',  'marca_CHEVROLET', 'marca_CITROEN',
       'marca_FIAT', 'marca_FORD', 'marca_HONDA', 'marca_HYUNDAI',
       'marca_JEEP', 'marca_NISSAN', 'marca_RENAULT', 'marca_TOYOTA',
       'marca_VOLKSWAGEN', 'categoria_COUPE', 'categoria_Conversível',
       'categoria_Custom', 'categoria_Esportivo', 'categoria_Hatch',
       'categoria_Mini Van', 'categoria_Picape', 'categoria_Raridade',
       'categoria_SUV', 'categoria_Sedan', 'categoria_Utilitário',
       'categoria_Van', 'categoria_Wagon/Perua', 'loc_AL', 'loc_AM', 'loc_BA',
       'loc_CE', 'loc_DF', 'loc_ES', 'loc_GO', 'loc_MA', 'loc_MG', 'loc_MS',
       'loc_MT', 'loc_PA', 'loc_PB', 'loc_PE', 'loc_PI', 'loc_PR', 'loc_RJ',
       'loc_RN', 'loc_RO', 'loc_RS', 'loc_SC', 'loc_SE', 'loc_SP', 'loc_TO']]
Y = df[['valor']]
results = regress(X,Y)
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  valor   R-squared:                       0.597
Model:                            OLS   Adj. R-squared:                  0.596
Method:                 Least Squares   F-statistic:                     961.0
Date:                Thu, 04 Jun 2020   Prob (F-statistic):               0.00
Time:                        10:16:47   Log-Likelihood:            -3.3405e+05
No. Observations:               30537   AIC:                         6.682e+05
Df Residuals:                   30489   BIC:                         6.686e+05
Df Model:                          47
Covariance Type:            nonrobust
=========================================================================================
                            coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------
const                 -4.436e+06   4.71e+04    -94.111      0.000   -4.53e+06   -4.34e+06
ano                    2690.7048     28.260     95.214      0.000    2635.315    2746.095
km_rodados               -0.0573      0.002    -27.537      0.000      -0.061      -0.053
marca_CHEVROLET       -4.092e+05   4315.886    -94.814      0.000   -4.18e+05   -4.01e+05
marca_CITROEN         -4.129e+05   4257.849    -96.973      0.000   -4.21e+05   -4.05e+05
marca_FIAT            -4.086e+05   4285.083    -95.353      0.000   -4.17e+05      -4e+05
marca_FORD            -4.099e+05   4278.033    -95.826      0.000   -4.18e+05   -4.02e+05
marca_HONDA           -3.911e+05   4268.265    -91.629      0.000   -3.99e+05   -3.83e+05
marca_HYUNDAI         -4.095e+05   4303.155    -95.167      0.000   -4.18e+05   -4.01e+05
marca_JEEP            -3.706e+05   4340.204    -85.378      0.000   -3.79e+05   -3.62e+05
marca_NISSAN          -4.127e+05   4351.146    -94.851      0.000   -4.21e+05   -4.04e+05
marca_RENAULT         -4.145e+05   4314.536    -96.060      0.000   -4.23e+05   -4.06e+05
marca_TOYOTA          -3.819e+05   4287.202    -89.089      0.000    -3.9e+05   -3.74e+05
marca_VOLKSWAGEN      -4.146e+05   4268.966    -97.116      0.000   -4.23e+05   -4.06e+05
categoria_COUPE       -3.401e+05   5133.874    -66.255      0.000    -3.5e+05    -3.3e+05
categoria_Conversível -3.467e+05   4010.542    -86.457      0.000   -3.55e+05   -3.39e+05
categoria_Custom      -3.435e+05   3804.204    -90.283      0.000   -3.51e+05   -3.36e+05
categoria_Esportivo   -3.427e+05   4116.575    -83.257      0.000   -3.51e+05   -3.35e+05
categoria_Hatch       -3.479e+05   3730.887    -93.238      0.000   -3.55e+05   -3.41e+05
categoria_Mini Van    -3.444e+05   3824.684    -90.059      0.000   -3.52e+05   -3.37e+05
categoria_Picape      -3.358e+05   3792.966    -88.525      0.000   -3.43e+05   -3.28e+05
categoria_Raridade    -3.208e+05   7164.942    -44.771      0.000   -3.35e+05   -3.07e+05
categoria_SUV         -3.397e+05   3705.769    -91.664      0.000   -3.47e+05   -3.32e+05
categoria_Sedan        -3.46e+05   3719.127    -93.032      0.000   -3.53e+05   -3.39e+05
categoria_Utilitário  -3.443e+05   3746.748    -91.895      0.000   -3.52e+05   -3.37e+05
categoria_Van         -3.465e+05   5619.132    -61.664      0.000   -3.58e+05   -3.35e+05
categoria_Wagon/Perua -3.371e+05   3852.681    -87.491      0.000   -3.45e+05    -3.3e+05
loc_AL                -1.875e+05   2442.747    -76.765      0.000   -1.92e+05   -1.83e+05
loc_AM                -1.808e+05   2593.488    -69.704      0.000   -1.86e+05   -1.76e+05
loc_BA                -1.869e+05   2164.126    -86.352      0.000   -1.91e+05   -1.83e+05
loc_CE                -1.839e+05   2056.716    -89.393      0.000   -1.88e+05    -1.8e+05
loc_DF                 -1.85e+05   2065.223    -89.586      0.000   -1.89e+05   -1.81e+05
loc_ES                 -1.86e+05   2413.299    -77.089      0.000   -1.91e+05   -1.81e+05
loc_GO                -1.875e+05   2225.709    -84.236      0.000   -1.92e+05   -1.83e+05
loc_MA                -1.778e+05   2163.640    -82.185      0.000   -1.82e+05   -1.74e+05
loc_MG                -1.862e+05   1972.631    -94.388      0.000    -1.9e+05   -1.82e+05
loc_MS                -1.847e+05   2102.053    -87.876      0.000   -1.89e+05   -1.81e+05
loc_MT                -1.849e+05   2632.407    -70.222      0.000    -1.9e+05    -1.8e+05
loc_PA                -1.837e+05   2194.882    -83.694      0.000   -1.88e+05   -1.79e+05
loc_PB                -1.883e+05   2449.359    -76.890      0.000   -1.93e+05   -1.84e+05
loc_PE                 -1.83e+05   2055.896    -88.995      0.000   -1.87e+05   -1.79e+05
loc_PI                -1.826e+05   4595.267    -39.731      0.000   -1.92e+05   -1.74e+05
loc_PR                -1.847e+05   1987.879    -92.902      0.000   -1.89e+05   -1.81e+05
loc_RJ                -1.875e+05   1996.043    -93.931      0.000   -1.91e+05   -1.84e+05
loc_RN                -1.861e+05   2338.525    -79.580      0.000   -1.91e+05   -1.82e+05
loc_RO                -1.859e+05   2864.856    -64.883      0.000   -1.91e+05    -1.8e+05
loc_RS                -1.843e+05   2023.133    -91.104      0.000   -1.88e+05    -1.8e+05
loc_SC                -1.826e+05   2045.900    -89.246      0.000   -1.87e+05   -1.79e+05
loc_SE                -1.846e+05   3181.860    -58.005      0.000   -1.91e+05   -1.78e+05
loc_SP                -1.847e+05   1972.314    -93.639      0.000   -1.89e+05   -1.81e+05
loc_TO                -1.865e+05   2495.897    -74.717      0.000   -1.91e+05   -1.82e+05
==============================================================================
Omnibus:                    16609.509   Durbin-Watson:                   1.668
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           207578.266
Skew:                           2.357   Prob(JB):                         0.00
Kurtosis:                      14.871   Cond. No.                     1.30e+16
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.04e-18. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

Nota: retirei a coluna 'km_rodados' por conter valores nulos
      filtrar valores nulos para recolocar coluna retirada - Feito

### Testes de hipotéses

Todas as variáveis se mostraram relevantes para a análise

### Analisando variáveis

In [ ]:
#