In [1]:
import pandas as pd

In [2]:
Dados=pd.read_csv('cars_Brazil_data.csv')

In [11]:
#separa todos os carros com número de ocorrência maior que 500
Dados['nome'].value_counts().loc[Dados['nome'].value_counts()>500];

In [56]:
Dados['nome'].loc[Dados['nome'].value_counts().loc[Dados['nome'].value_counts()>500]]

2160       RENAULT SANDERO
1913           PEUGEOT 207
1646      CHEVROLET PRISMA
1382     VOLKSWAGEN AMAROK
1368          NISSAN KICKS
1353          JEEP COMPASS
1278    VOLKSWAGEN SAVEIRO
1248    VOLKSWAGEN SAVEIRO
1129          NISSAN KICKS
1108          NISSAN MARCH
1096               FORD KA
909                 BMW X3
878         VOLKSWAGEN GOL
863               BMW 118I
851          JEEP RENEGADE
848        CHEVROLET AGILE
804        VOLKSWAGEN GOLF
793           NISSAN TIIDA
781         HYUNDAI TUCSON
763        CHEVROLET CORSA
732           HYUNDAI HB20
712           HYUNDAI IX35
684             HONDA HR-V
677         VOLKSWAGEN GOL
677         VOLKSWAGEN GOL
661              FIAT MOBI
601         CHEVROLET ONIX
574           RENAULT CLIO
566           NISSAN MARCH
539                AUDI A4
534          NISSAN SENTRA
509         CHEVROLET ONIX
Name: nome, dtype: object

## Objetivos do Notebook:
- Primeira observação do Dataset  (check em 28/05)
- Filtragem inicial e Limpeza
    - "Separar o Dataset por nome de carro faz sentido?"
        - obs: Se tivermos o objetivo de determinar o preço de um carro específico, é essencial. No entanto minha dúvida é referente a um contexto mais geral.
    - Esse é um dataset bem limpo, não acredito que haja a necessidade de eliminar nenhuma coluna* (check em 28/05)
- Tornar a Separação por nome de carro um processo interativo com uso da função `interact` da biblioteca `ipywidgets`